:root{
    --primary-color: #126e82;
    --secondary-color: #51c4d3;
    --tertiary-color: #d8e3e7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

header{
    background-color: #132c33;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background-color: var(--secondary-color);
    margin: 10px 0;
    padding: 5px 10px 5px 50px;
}

header h1 a{
    text-decoration: none;
    color: #132c33;
}

header nav a{
    text-decoration: none;
    color: var(--secondary-color);
}

header nav{
    margin: 7px 20px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 40px 0 0;
}

header nav ul li a{
    padding: 0 5px;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: solid 1px var(--secondary-color) ;
}

.hero{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero img{
    height: 150px;
    width: 150px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.hero h2{
    background-color: var(--secondary-color);
    padding: 7px 14px;
    font-size: 30px;
    border: solid 1px var(--primary-color);
    margin: 50px 70px 0 0;
}

.section-title{
    text-align: right;
    margin: 10px;
    height: 100%;
    width: 15%
}

.section-title h2{
    font-size: 36px;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me-content{
    width: 80%;
    border-left: solid 3px var(--primary-color);
    padding: 0 0 0 30px;
    margin: 10px;
}

.about-me-content p{
    font-size: 25px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-content{
    width: 80%;
    border-left: solid 3px var(--primary-color);
    padding: 0 0 0 30px;
    margin: 10px;
}

.works-style{
    border: solid 3px var(--secondary-color);
    margin: 10px
}

.work-title{
    background-color: var(--secondary-color);
    width: max-content;
    padding: 5px 10px;
}

.primary-works-title{
    float: bottom;
}

.primary-work{
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    height: 248px;
    top: 30px;
    opacity: 75%;
}

.other-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 248px;
    opacity: 75%;
}

.work-1{
    background-image: url(../images/robot-gladiators.jpg);
    background-size: cover;
    background-position: center;
    width: 48%;
}

.work-2{
    background-image: url(../images/pending.jpg);
    background-size: cover;
    background-position: center;
    width: 48%;
}

.work-3{
    background-image: url(../images/pending.jpg);
    background-size: cover;
    background-position: center;
    width: 48%;
}

.work-4{
    background-image: url(../images/pending.jpg);
    background-size: cover;
    background-position: center;
    width: 48%;
}

.contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-links{
    width: 80%;
    border-left: solid 3px var(--primary-color);
    padding: 0 0 0 30px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 24px;
    align-items: center;
}

.contact-links a{
    text-decoration: none;
    color: var(--primary-color);
}

.contact-links a,
.contact-links p{
    border-bottom: solid 2px var(--primary-color);
    padding: 0 5px;
}