:root{
    --primary-color: #126e82;
    --secondary-color: #51c4d3;
    --tertiary-color: #d8e3e7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

header{
    background-color: #132c33;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1{
    font-weight: bold;
    font-size: 56px;
    background-color: var(--secondary-color);
    margin: 10px 0;
    padding: 5px 10px 5px 50px;
}

header h1 a{
    text-decoration: none;
    color: #132c33;
}

header nav a{
    text-decoration: none;
    color: var(--secondary-color);
}

header nav{
    margin: 7px 20px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 40px 0 0;
}

header nav ul li a{
    padding: 0 5px;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: solid 1px var(--secondary-color) ;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.hero{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero img{
    height: 150px;
    width: 150px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.hero h2{
    background-color: var(--secondary-color);
    padding: 7px 14px;
    font-size: 30px;
    border: solid 1px var(--primary-color);
    margin: 50px 70px 0 0;
}

.section-title{
    text-align: right;
    margin: 20px 10px;
    height: 100%;
    width: 15%
}

.section-title h2{
    font-size: 48px;
    margin: 30px 0;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me-content{
    width: 80%;
    border-left: solid 3px var(--primary-color);
    padding: 10px 0 10px 30px;
    margin: 20px;
}

.about-me-content p{
    font-size: 25px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-content{
    width: 80%;
    border-left: solid 3px var(--primary-color);
    padding: 10px 0 10px 30px;
    margin: 20px 10px;
}

.works-style{
    border: solid 3px var(--secondary-color);
    margin: 10px
}

.work-title{
    background-color: var(--secondary-color);
    width: max-content;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    font-size: 24px;
}

.primary-work{
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    height: 412px;
    opacity: 75%;
    position: relative;
}

.other-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 860px;
}

.primary-work:hover,
.other-works a:hover{
    opacity: 100%;
}

.other-works a{
    opacity: 75%;
    height: 430;
    width: 50%;
}

.work-1,
.work-2,
.work-3,
.work-4{
    background-size: cover;
    background-position: center;
    height: 96%;
    position: relative;
}

.work-1{
    background-image: url(../images/robot-gladiators.jpg);
}

.work-2{
    background-image: url(../images/Coinvrt.PNG);
}

.work-3{
    background-image: url(../images/grfin.jpg);
}

.work-4{
    background-image: url(../images/in-a-basket.JPG);
}

.contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-links{
    width: 80%;
    border-left: solid 3px var(--primary-color);
    padding: 10px 0 10px 30px;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
    align-items: center;
}

.contact-links a{
    text-decoration: none;
    color: var(--primary-color);
}

.contact-links a,
.contact-links p{
    border-bottom: solid 2px var(--primary-color);
    padding: 0 5px;
}

footer{
    height: 70px;
    background-color: #132c33;
}

/*smaller desktop*/
@media screen and (max-width: 980px) {
    header{
        justify-content: center;
    }

    header h1{
        text-align: center;
        width: 100%;
        padding: 5px 0;
        font-size: 40px;
        margin: 10px 0 0 0;
    }

    header nav{
        width: 100%;
        margin: 0;
    }

    header nav ul{
        padding: 0;
        justify-content: space-around;
        margin: 15px 5px;
        text-align: center;
    }

    header nav ul li{
        width: 33%;
        height: auto;
    }

    header nav ul li a{
        font-size: 20px;
        margin: 0;
    }

    .hero h2{
        margin: 50px 20px 0 0;
    }

    .section-title{
        text-align: center;
        width: 100%;
        margin: 0px;
    }

    .section-title h2{
        font-size: 36px;
        margin: 30px 0 0 0;
    }

    .about-me{
        text-align: center;
    }

    .about-me-content{
        padding: 20px 10px 0 10px;
        border-left: none;
        border-top: solid 3px var(--primary-color);
        margin: 5px 20px 0 20px;
    }

    .about-me-content p{
        font-size: 20px;
    }

    .works-content{
        padding: 20px 10px;
        border-left: none;
        border-top: solid 3px var(--primary-color);
        margin: 5px 20px 20px 20px;
    }

    .work-title{
        font-size: 16px;
        bottom: 20px;
    }

    .primary-work{
        height: 206px;
        margin: 0 10px;
    }

    .other-works{
        height: 430px;
    }

    .contact-links{
        justify-content: center;
        flex-direction: column;
        padding: 20px 10px;
        border-left: none;
        border-top: solid 3px var(--primary-color);
        margin: 5px 20px 20px 20px;
    }

    .contact-links a,
    .contact-links p{
        padding: 5px;
        font-size: 24px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    .other-works{
        height: 300px;
    }
}

/* mobile */
@media screen and (max-width: 575px) {
    .hero{
        justify-content: center;
    }
    
    .hero h2{
        margin: 10px;
    }

    .works{
        overflow: hidden;
    }

    .works-content{
        padding: 20px 0 0 0;
    }

    .other-works{
        flex-direction: column;
    }

    .other-works a{
        width: 100%;
        padding: 5px 0;
        height: 103px;
    }
}